body{
    background-image: url("https://img.freepik.com/free-photo/abstract-blurred-people-night-festival-city-park-bokeh-background-vintage-tone_1258-79068.jpg?w=740&t=st=1688641554~exp=1688642154~hmac=b11b986053dddd0268c66304cd706ed0ec5c8fc054e15a38e84a184ad30abafb");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 99vh;
    width: 100%;
}
.boxClass{
 width: 100%;
 height: 105vh ;
 margin-left: auto;
 margin-right: auto;
 background-image: url("./hero-bg.jpg");
 background-repeat: no-repeat;
 background-position: 100%;
 background-size: cover;
 
}

 
/* ========================================================================================================= */

